@import "./abstracts/theme.module";

:root {
  @include printVariables();
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--bodyFontColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next {
  overflow-x: hidden;
}

.writer-tex {
  border-right: 3px solid;
  animation:
    blink 1s step-end infinite,
    type 2.5s steps(29) forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}
